<h12注文履歴詳細 </h2>

<div>購入者 : <%= @order.customer.last_name %><%= @order.customer.first_name %></div>

<div>配送先 ：<%= @order.address %></div>

<div>支払い方法 :
<%= @order.payment_method %>
</div>

<!--注文ステータス :-->
<!--<%#= form_with model: @order, url: admin_order_path, local: true do |f| %>-->
<!--  <%#= f.select :status, Order.status %>-->
<!--  <%#= f.submit %>-->
<!--<%# end %>-->


<table border="1">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <!--<th>製作ステータス</th>-->
        </tr>
    </thead>
    <tbody>
        <% @ordered_item.each do |ordered_item| %>
            <tr>
                <td><%= ordered_item.item.name %></td>
                <td><%= ordered_item.item.excluding_tax_price %></td>
                <td><%= ordered_item.amount %></td>
                <td><%= ordered_item.item.excluding_tax_price * ordered_item.amount %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<div>商品合計 : <%= @total %></div>
<div>送料 : <%= @order.shipping_cost %></div>
<div>請求合計金額 : <%= @total + @order.shipping_cost %></div>